main.login_container {
  display: flex;
  /* background-color: red; */
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

main.login_container > section {
  /* background-color: red; */
  border: 0.2rem solid #272e3f;
  border-radius: 0.5rem;
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
